doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='UTF-8')
    title 六角西餐廳
    
    <!-- facebook -->
    meta(property='og:title', content='六角西餐廳')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://boylin90085.github.io/RWD-HexRestaurant/')
    meta(property='og:image', content='https://hexschool.github.io/Rwd_sketch_export/assets/header_desktop.png')
    meta(property='og:description', content='咬一口就無法忘懷的漢堡')
    
    <!-- 引用 -->
    link(rel='icon', type='image/png', sizes='32x32', href='icon/hamburger.png')
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css')
    link(rel='stylesheet prefetch', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='js/index.js')
  body


    .mainbox
      
      header.jumbotron-fluid#head
        nav.navbar.navbar-expand-md.navbar-light
          a.navbar-brand(href='#') 六角西餐廳
          button.navbar-toggler.mt-auto.custom-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon.custom-toggler
          #navbarNav.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='register.html') 加入我們
              li.nav-item
                a.nav-link(href='login.html') 登入
              li.nav-item
                a.nav-link(href='order.html') 線上訂購
              li.nav-item
                a.nav-link#toyummy(href='#whyummy') 特色
              li.nav-item
                a.nav-link#tochef(href='#chef') 主廚
              li.nav-item
                a.nav-link#toreserve(href='#reserve') 地圖
        .titlebox
          .slogan
            h1.bite 咬一口
            |就無法忘懷的漢堡
          .inside_text
            h6 七夕絕對無法錯過的好味道
            i.fas.fa-utensils
            h6 &nbsp;六角大漢堡&nbsp;
            i.fas.fa-utensils
      section#whyummy
        .container
          .row.mb-5
            .col-lg-4.col-md-4.col-4
            .col-lg-4.col-md-4.col-4
              .headtext
                p 
                  |客人總是在詢問 
                  br 
                  |這麼好吃的秘訣是什麼
            .col-lg-4.col-md-4.col-4
          .row
            .col-lg-4.col-md-4.col-12.text-center
              .imgbox
                img(src="https://hexschool.github.io/Rwd_sketch_export/assets/feature_1.png", alt="")
              h5 台灣本土蔬菜
              .textbox
                p.text-left In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
            .col-lg-4.col-md-4.col-12.text-center.mr-top
              .imgbox
                img(src="https://hexschool.github.io/Rwd_sketch_export/assets/feature_2.png", alt="")
              h5 專業米其林廚師
              .textbox
                p.text-left Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
            .col-lg-4.col-md-4.col-12.text-center.mr-top
              .imgbox
                img(src="https://hexschool.github.io/Rwd_sketch_export/assets/feature_3.png", alt="")
              h5 對於專業不能退讓
              .textbox
                p.text-left Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
      section#chef
        .container
          .row
            .col-lg-6.col-md-6.col-12
              .chef-pic
            .col-lg-6.col-md-6.col-12.pl-40
              .chef-name
                h3 今日主廚：帕金森、梅在帕
                h5 Tody Chef: Plum in Shock
              .chef-intro
                p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum.
      section#other
        .container
          .row
            .col-lg.text-center.mb-32
              h4 聽別人的感想
          .row
            .col-lg-4.col-md-4.col-12.mr-a
              .photobox.fst
                .title
                  h5 高雄一口吃
              .advice
                p 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
              .name
                p  -- 產品經理
            .col-lg-4.col-md-4.col-12.mr-a
              .photobox.sec
                .title
                  h5 廟口小霸王
              .advice
                p 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
              .name
                p  -- 金身道士
            .col-lg-4.col-md-4.col-12
              .photobox.thrd
                .title
                  h5 春天也來了
              .advice
                p 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
              .name
                p  -- 美麗萬分
      section#reserve
        .container
          .row
            .col-lg.text-center
              .titlebox
                h4
                  |我們的位置不太夠坐 
                  br 
                  |要不要先定位呢？
          .row
            .col-lg-6.col-md-6.col-12
              .mapbox
            .col-lg-6.col-md-6.col-12
              form
                label 姓名
                input.form-control(placeholder="六角講師吃尾牙")
                label 電話
                input.form-control(placeholder="02-1234567")
                label 信箱
                input.form-control(placeholder="test@gmail.com")
                label 人數
                input.form-control
                label 是否需要素食
                .radiobox
                  label(for="yes") 是
                  input#yes(type="radio" name="choose")
                  label(for="no") 否
                  input#no(type="radio" name="choose")
                .buttonbox
                  button.btn 取消
                  button.btn.orange 送出
      footer
        .container
          .row
            .col-lg-4.col-md-4.col-12
              .about
                h4 關於 六角西餐廳
                .content
                  p Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
            .col-lg-4.col-md-4.col-12.mt-30
              .contact
                h4 聯絡方式
                .content
                  ul
                    li 高雄市中正五路到底
                    li +886 886 886
                    li service@hexschool.com
                  
                  
            .col-lg-4.col-md-4.col-12
              .logobox
                p.restlogo 六角西餐廳
                .share
                  i.fab.fa-google-plus-square
                  i.fab.fa-twitter-square
                  i.fab.fa-facebook-square
                  
                  
                
      
                
        
            
              
      